
@media screen and (min-width: 320px) and (max-width: 480px){
  button{
    cursor: pointer;
  }
  a{
    text-decoration: none;
    color: white;
  }
.nav {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 32.1875VW;
  background-color: rgba(39,38,42,0.9);
  background-size: 100%;
  &__logo {
    //width: 150px;
    //height: 50px;
  //  background-image: url("../img/navbar-logo.png");
  //  background-size: cover;
  //  color: rgba(39,38,42,0.85);
  //  width: 13.4375VW;
  //  height: 12.8124vw;
  }
  &__logo-img {
    //float: left;
    //display: inline-block;
    content:url("../img/navbar-logo.png");
    width: 13.4375VW;
    height: 12.8124vw;
  }
  &__text {
    display: none;
  }
  &__button {
    width: 37.19vw;
    height: 11.5625VW;
    border-radius: 5.31vw;
    border: transparent;
    background-color: #8d81ac;
    font-family: 'Montserrat';
    font-size: 4.69vw;
    color: #ffffff;
    font-weight: 700;
  }
  &__submenu{
    display: none;
    position: absolute;
    background: #273037;
    left: 4%;
    top: 100%;
    width: 92%;
    height: 90.62vw;
    z-index: 999;
  }

  &__submenu-item {
    display: block;
    font-family: 'Montserrat';
    border-bottom: 1px rgba(100, 100, 100, 0.7) solid;
    color: white;
    text-align: left;
    padding-top: 7.5vw;
    padding-bottom: 7.5vw;
    padding-left: 10.31vw;
    font-size: 6.25VW;
    position: relative;
    &:hover {
      color: #8d81ac;
      &:after {
        position: absolute;
        left: 0vw;
        content: "";
        width: 1vw;
        height: 12vw;
        background-color: #8d81ac;
      }
    }
  }
  &__menu-icon {
    background-image: url("../img/burger-menu-icon.png");
    background-size: cover;
    width: 8.125VW;
    height: 6.56vw;
    color: #e5e3e3;
  }
}
  .header {
    background: url("../img/img.png");
    background-size: cover;
    height: 203.5VW;
    text-align: center;
    &__title {
      color: #ffffff;
      font-family: 'Montserrat';
      font-size: 14vw;
      font-weight: 700;
      line-height: 13.1375VW;
      padding-top: 12.1375VW;
      padding-bottom: 6.25VW;
    }
    &__subtitle {
      max-width: 80.625VW;
      padding-left: 10VW;
      color: #8d81ac;
      font-family: 'Montserrat';
      font-size: 5.625VW;
      font-weight: 400;
      line-height: 10.625VW;
    }
    &__info {
      color: #848e97;
      font-family: 'Montserrat';
      font-size: 4.375VW;
      font-weight: 400;
      line-height: 6.39vw;
      text-transform: uppercase;
    }
    &__button {
      width: 90.625VW;
      height: 14.0625VW;
      border-radius: 10vw;
      color: #ffffff;
      font-family: 'Montserrat';
      font-size: 18px;
      font-weight: 700;
      background-color: #8d81ac;
      border-color: transparent;
      margin-top: 122VW;
    }
    &__info-bottom {
      padding-top: 4.0625VW;
      color: #848e97;
      font-family: 'Montserrat';
      font-size: 14px;
      font-weight: 400;
      line-height: 6.39vw;
    }
  }
  .testimonials {
    background: url("../img/testmonials-bg@1X.jpeg");
    text-align: center;
    background-size: cover;
    height: 462.8125vw;
    margin-top: 2vw;
    &__title {
      max-width: 83.125VW;
      padding-left: 9.375VW;
      padding-top: 16VW;
      color:  white;
      font-family: 'Montserrat';
      font-size: 10vw;
      font-weight: 700;
      line-height: 15vw;
    }
    &__info {
      max-width: 78.125VW;
      color: white;
      font-family: 'Lato';
      font-style: italic;
      font-size: 5vw;
      line-height: 9vw;
      margin-top: 9.3125vw;
      margin-left: 10.3125VW;
          }
    &__text {
      display: none;
    }

  }



    .revoleditor{
      margin: 40px auto;
      &__name{
        color: #635c73;
        font-family: Montserrat;
        font-size: 8vw;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        line-height: 12vw;
        padding: 0 5vw;
      }
      &__text{
        opacity: 0.8;
        color: #323232;
        font-family: Lato;
        font-size: 4.4vw;
        font-weight: 400;
        padding: 5vw 5vw;
        text-align: center;
      }
      &__buttons{
        margin: 5vw;
        display: flex;
        flex-flow: wrap;
        justify-content: center;

      }
      &__button{
        width: auto;
        display: flex;
        flex-flow: row;
        margin: 3vw 2vw;
        align-content: center;
        align-items: center;
      }

    }

  .btn{
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    color: #24292e;

    background-position: -1px -1px;
    background-repeat: repeat-x;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: .25em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 12px;
    text-decoration: none;
  }
  .btn-sm{
    font-size: 12px;
    line-height: 20px;
    padding: 3px 10px;
  }
  .btn-with-count{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    float: left;
  }
  .social-count{
    background-color: #fff;
    border: 1px solid rgba(27,31,35,.2);
    border-bottom-right-radius: 3px;
    border-left: 0;
    border-top-right-radius: 3px;
    color: #24292e;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    padding: 3px 10px;
    text-decoration: none;
  }



  .whatyouget{
    margin: 0 auto;
    padding: 20vw 0 0 0;
    background-color: #f4f4f4;
    &__name{
      color: #8d81ac;
      font-family: Montserrat;
      font-size: 10vw;
      font-weight: 700;
      text-align: center;
      padding: 0 5vw;
      margin-bottom: 7vw;
    }
    &__name:after{
      content: ">";
    }
    &__name:before{
      content: "<";
    }
    &__bk{

    }
    &__bk-img{
      width: 35vw;
      height: 35vw;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../img/whatyouget.png");
      margin: 0 auto;
    }
    &__bk-img01{
      background-position: 0 0;
    }
    &__bk-img02{
      background-position: 0 -39vw;
    }
    &__bk-img03{
      background-position: 0 -85vw;
    }
    &__bk-img04{
      background-position: 0 -130vw;
    }
    &__text01{
           color: #323232;
      font-family: Montserrat;
      font-size: 5vw;
      font-weight: 400;
      text-align: center;
      padding: 1vw;
    }
    &__text02{
      color: #848e97;
      font-family: Lato;
      font-size: 4.4vw;
      font-weight: 400;
      text-align: center;
      padding-bottom: 5vw;
      line-height: 7vw;
    }
    &__bigimg{
      width: 100%;
      height: 109vw;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../img/whatyouget-big.png");
      margin: 10vw auto 0 auto;
    }
  }



  .pricing{
    background-color: #4a3b4e;
    padding-bottom: 15vw;
    &__name{
      color: #ffffff;
      font-family: Montserrat;
      font-size: 8.7vw;
      font-weight: 700;
      text-align: center;
      line-height: 14vw;
    }
    &__bk{
      background-color: #675567;
      margin: 0 auto;
      height: 142.6vw;
      width: 79.6vw;
    }
    &__bk-name{
      background-color: #6f5d6b;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 7.5vw;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      padding: 12.5vw 5vw;
      margin: 10vw 0;
    }
    &__bk-price{
      color: #ffffff;
      font-family: Montserrat;
      font-size: 19vw;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 5vw;
    }
    &__bk-pricetext{
      color: #7c707e;
      font-family: Montserrat;
      font-size: 4.4vw;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 1vw;
    }
    &__bk-pricetext:after{
      margin: 10vw auto;
      content: "";
      display: block;
      width: 19vw;
      height: 2vw;
      background-color: #8d81ac;
    }
    &__bk-text-wrap{
      min-height: 18.5vw;
    }
    &__bk-text{
      color: #ffffff;
      font-family: Montserrat;
      font-size: 5vw;
      font-weight: 400;
      text-align: center;
      line-height: 10vw;
    }
    &__bk-button{
      background-color: #776b79;
      width: 50vw;
      height: 13vw;
      line-height: 13vw;
      text-align: center;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 4.7vw;
      font-weight: 400;
      text-transform: uppercase;
      margin: 7vw auto 5vw auto;
      border-radius: 33vw;
      cursor: pointer;
    }
    &__bk__general{
     background-color: #413344;
      margin: 0 auto;
      height: 175vw;
      width: 87vw;

    }
    &__bk__general &__bk-name{
      background-color: #3a2d3d;
    }
    &__bk__general &__bk-price{
      font-size: 25.6vw;
    }
    &__bk__general &__bk-button{
      margin: 27vw auto 5vw auto;
    }
  }
  .scrollup {

    width:17vw;
    height:17vw;
    opacity:0.5;
    position:fixed;
    bottom:11vw;
    right:11vw;
    display:none;
    text-indent:-9999px;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .scrollup:hover{
    opacity: 1;
    transition: all ease-in-out 2s;
  }
}