
@media screen and (min-width: 481px) and (max-width: 992px){
  button{
    cursor: pointer;
  }
  a{
    text-decoration: none;
    color: white;
  }
  .nav {
    display: grid;
    grid-template-areas: "nav-logo nav-button"
  "nav-submenu nav-submenu";
    grid-template-rows: 8vw 7vw;
    grid-template-columns: 23vw 22vw;
    align-items: end;
    justify-content: space-between;
    height: 15.365vw;
    background-color: rgba(39,38,42,0.9);
    &__logo {
      grid-area: nav-logo;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      //width: 10vw;
      height: 5.6vw;
      //border: red 2px solid;
    }
    &__logo-img {
      content:url("../img/navbar-logo.png");
      display: inline-block;
      width: 5.5989VW;
      height: 5.338vw;
    }
    &__text {
      display: block;
      font-size: 2.5VW;
      color: #8d81ac;
      font-family: 'Lato';
      font-weight: 700;
      letter-spacing: 0.05em;

    }
    &__button {
      grid-area: nav-button;
      //justify-self: self-end;
      width: 18.88vw;
      height: 4.94VW;
      border-radius: 5.31vw;
      border: transparent;
      background-color: #8d81ac;
      font-family: 'Montserrat';
      font-size: 1.83vw;
      color: #ffffff;
      font-weight: 700;
    }
    &__submenu {
      grid-area: nav-submenu;
      padding-left: 5vw;
      padding-right: 5vw;
      display: flex;
      align-self: center;
      justify-content: space-evenly;
    }
    &__menu-icon {
      display: none;
    }
    &__submenu-item {
      color: #8d81ac;
      text-decoration: none;
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: 2.084vw;

    }
  }
  .header {
    background: url("../img/img@1Xnew.png");
    background-size: cover;
    height: 100.65VW;
    text-align: center;
    &__title {
      color: #ffffff;
      font-family: 'Montserrat';
      font-size: 9.114583333333332VW;
      font-weight: 700;
      line-height: 4VW;
      padding-top: 6VW;
      padding-bottom: 3.385VW;
    }
    &__subtitle {
      max-width: 100VW;
      //padding-left: 7VW;
      color: #8d81ac;
      font-family: 'Montserrat';
      font-size: 3VW;
      font-weight: 400;
      line-height: 10.625VW;
    }
    &__info {
      color: #848e97;
      font-family: 'Montserrat';
      font-size: 1.75VW;
      font-weight: 400;
      line-height: 2vw;
      text-transform: uppercase;
    }
    &__button {
      width: 50.78125VW;
      height: 8.073VW;
      border-radius: 10vw;
      color: #ffffff;
      font-family: 'Montserrat';
      font-size: 18px;
      font-weight: 700;
      background-color: #8d81ac;
      border-color: transparent;
      margin-top: 58VW;
    }
    &__info-bottom {
      //padding-top: 2VW;
      color: #848e97;
      font-family: 'Montserrat';
      font-size: 14px;
      font-weight: 400;
      line-height: 6.39vw;
    }
  }
  .testimonials {
    background: url("../img/Layer 1@1X.png");
    background-size: cover;
    &__wrapper{
      text-align: center;
      height: 124vw;
      margin-top: 2vw;
      display: grid;
      //align-items: center;
      //justify-content: space-around;
      grid-template-columns: 50vw 50vw;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "title title"
      "info info"
      "info info"
      "info info"
      "text text"
      "underline underline";
    }
    &__title {
      //max-width: 87.14VW;
      //padding-left: 3VW;
      grid-area: title;
      padding-top: 8VW;
      color:  white;
      font-family: 'Montserrat';
      font-size: 5.60vw;
      font-weight: 700;
      line-height: 12vw;
    }
    &__info {
      max-width: 41.66VW;
      color: white;
      font-family: 'Lato';
      font-style: italic;
      font-size: 2.3vw;
      line-height: 4vw;
      margin-top: 7.16vw;
      margin-left: auto;
      margin-right: auto;
      justify-self: center;
      align-self: center;
    }
    &__text {color: rgba(162, 145, 165, 255);
      align-self: center;
      justify-self: center;
      max-width: 90vw;
      grid-area: text;
      margin: 5vw 0;
    }
    &__text:after{
      content:"";
      width: 82VW;
      height: 0.2vw;
      display: block;
      background-color: #645766;
      margin: 1vw auto;
    }
  }


  .revoleditor{
    margin: 3vw auto;
    &__name{
      color: #635c73;
      font-family: Montserrat;
      font-size: 5.2vw;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      line-height: 12vw;
      padding: 0 5vw;
    }
    &__text{
      opacity: 0.8;
      color: #323232;
      font-family: Lato;
      font-size: 2.7vw;
      font-weight: 400;
      padding: 1vw 5vw;
      text-align: center;
    }
    &__buttons{
      margin: 0 5vw;
      display: flex;
      flex-flow: wrap;
      justify-content: center;

    }
    &__button{
      width: auto;
      display: flex;
      flex-flow: row;
      margin: 3vw 2vw;
      align-content: center;
      align-items: center;
    }

  }

  .btn{
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    color: #24292e;

    background-position: -1px -1px;
    background-repeat: repeat-x;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: .25em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 12px;
    text-decoration: none;
  }
  .btn-sm{
    font-size: 12px;
    line-height: 20px;
    padding: 3px 10px;
  }
  .btn-with-count{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    float: left;
  }
  .social-count{
    background-color: #fff;
    border: 1px solid rgba(27,31,35,.2);
    border-bottom-right-radius: 3px;
    border-left: 0;
    border-top-right-radius: 3px;
    color: #24292e;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    padding: 3px 10px;
    text-decoration: none;
  }



  .whatyouget{
    margin: 0 auto;
    padding: 15vw 0 0 0;
    background-color: #f4f4f4;
    &__name{
      color: #8d81ac;
      font-family: Montserrat;
      font-size: 5vw;
      font-weight: 700;
      text-align: center;
      padding: 0 3vw;
      margin-bottom: 7vw;
    }
    &__name:after{
      content: ">";
    }
    &__name:before{
      content: "<";
    }
    &__bk{
      margin: 0 5vw;
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 1fr;
    }
    &__bk-img{
      width: 14.5vw;
      height: 14.5vw;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../img/whatyouget.png");
      margin: 0 auto;

    }
    &__bk-img01{
      margin-left: 6vw;
      background-position: 0 -2vw;
    }
    &__bk-img02{
      background-position: 0 -19vw;
    }
    &__bk-img03{
      background-position: 0 -35vw;
    }
    &__bk-img04{
      background-position: 0 -54vw;
    }
    &__text01{
      margin-left: 1vw;
      color: #323232;
      font-family: Montserrat;
      font-size: 2vw;
      font-weight: 400;
      padding: 1vw;
    }
    &__text02{
      margin-left: 2vw;
      color: #848e97;
      font-family: Lato;
      font-size: 2vw;
      font-weight: 400;
      padding-bottom: 2vw;

    }
    &__bigimg{
      width: 100%;
      height: 62vw;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../img/whatyouget-big.png");
      margin: 10vw auto 0 auto;
    }
  }



  .pricing{
    background-color: #4a3b4e;
    padding: 15vw 0;
    &__bk_wrap{
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0 5vh;
    }
    &__name{
      color: #ffffff;
      font-family: Montserrat;
      font-size: 5.4vw;
      font-weight: 700;
      text-align: center;
      line-height: 5vw;
    }
    &__bk{
      background-color: #675567;
      margin: 5vw auto;
      height: 60vw;
      width: 33.8vw;
    }
    &__bk-name{
      background-color: #6f5d6b;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 3.1vw;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      padding: 4.5vw 1vw;
    }
    &__bk-price{
      color: #ffffff;
      font-family: Montserrat;
      font-size: 7.8vw;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      margin: 5vw 0 2vw 0;
    }
    &__bk-pricetext{
      color: #7c707e;
      font-family: Montserrat;
      font-size: 1.8vw;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 1vw;
    }
    &__bk-pricetext:after{
      margin: 4vw auto;
      content: "";
      display: block;
      width: 7.8vw;
      height: 0.5vw;
      background-color: #8d81ac;
    }
    &__bk-text-wrap{
      min-height: 5.5vw;
    }
    &__bk-text{
      color: #ffffff;
      font-family: Montserrat;
      font-size: 2vw;
      font-weight: 400;
      text-align: center;
      line-height: 3vw;
    }
    &__bk-button{
      background-color: #776b79;
      width: 21vw;
      height: 5.3vw;
      line-height: 5.3vw;
      text-align: center;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 2.7vw;
      font-weight: 400;
      text-transform: uppercase;
      margin: 5vw auto 5vw auto;
      border-radius: 33vw;
      cursor: pointer;
    }
    &__bk__general{
      background-color: #413344;
      margin: 2vw auto 0 auto;
      height: 68vw;
      width: 39vw;

    }
    &__bk__general &__bk-name{
      background-color: #3a2d3d;
    }
    &__bk__general &__bk-price{
      font-size: 10.6vw;
    }
    &__bk__general &__bk-button{
      margin: 10vw auto 2vw auto;
    }
  }

  .scrollup {

    width:7vw;
    height:7vw;
    opacity:0.5;
    position:fixed;
    bottom:4vw;
    right:8vw;
    display:none;
    text-indent:-9999px;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .scrollup:hover{
    opacity: 1;
    transition: all ease-in-out 2s;
    transform: scale(1.3);
  }
  button:hover{
    box-shadow: 0 10px 13px -7px #620083, 0 7px 10px -4px white, 5px 5px 15px 5px rgba(255,119,119,0);
    color: #8d81ac;
    background-color: white;
  }
  .nav__submenu-item:hover{
    text-shadow: 0 3px 4px #620083, 0 7px 10px white, 5px 5px 15px rgba(255,119,119,0);
    color: white;
  }
  .nav__logo:hover{
    transition: all ease-in-out 2s;
    transform: scale(1.3);
  }
  .button-click {

    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  }
  .button-click:focus {
    outline: 0;
  }
  .button-click:before, .button-click:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
  }
  .button-click:active {
    transform: scale(0.9);
    filter: contrast(120%) brightness(60%);
  }
  .button-click:hover{
    transition: background-color ease-in-out 1s;
    background: white;
  }
  .pricing__bk-button:hover{
    background-color: #c8c3c7;

  }
  .pricing__bk-button a:hover{
    color: #7f6d78;
    font-weight: bold;
  }
  .nav__logo:hover .nav__logo-img{
    content:url("../img/navbar-logo2.png");
  }
  .nav__logo:hover .nav__text{
    color: white;
  }
}